@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2B84B, #D99543);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2c1501ce;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F2C53D;
    text-align: center;
    text-shadow: 1px 1px 0px #2c1501ce;
}

h2{
    color: #594918;
}

p {
    text-align: justify;
}